:root {
    --vermelho: #E50914;
    --preto: #141414;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Helvetica, sans-serif;
    font-size: 40px;
    transition: .2s;
    cursor: pointer;
}

header .logo:hover{
    scale: 1.1;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    transition: .2s;
}

header nav a:hover {
    color: #fff;
}

/* Filme principal*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)100%), url(..\img\bg.jpg);
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 15px;
    margin-bottom: 40px;
}

.filme-principal .titulo {
    font-size: 40px;
}

.botao {
    margin-top: 15%;
    background: rgba(0,0,0,.5);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    transition: .2s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 5px;
}


.box-filme {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
    filter: grayscale(.9);
    transition: .2s ease all;
}

.box-filme:hover {
    filter: grayscale(0);
    border: 6px solid white;
}

@media (max-width: 700px) {
    header .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .filme-principal {
        align-items: center;
    }
    
}

@media (min-width: 1000px) {
    .filme-principal .container {
         width: 50%;
        }
    }
